body{
    background-color: var(--main-bg-color);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    display: grid;
    grid-template-areas: "container image";
    grid-template-columns: minmax(20rem 56.8rem) 1fr;
    grid-template-rows: 44.6rem;
    margin: 3rem;
}

.container{
    grid-area: container;
    max-width: 57rem;
    background-color:var(--card-bg-color);
    border-radius: 1rem 0 0 1rem;
}

.container .info{
    padding: 7rem 7rem 0;
    font-family: var(--primary-font);
    color: #ffffff;
    min-height: 20rem;
}

.container .info .title{
    font-size: 3.6rem;
}

.container .info .title span{
    color: var(--primary-soft-color);
}

.container .info .description{
    font-size: 1.5rem;
    line-height: 2.6rem;
    margin-top: 2.5rem;
    padding-right: 4rem;
    color: var(--secondary-soft-color);
}

.container .stats{
    padding-inline: 11.3rem 4rem;
    display: flex;
    margin-top: 6.7rem;
    justify-content: space-around;
    font-family: var(--primary-font);
    color: #ffffff;
}

.container .stats .stats-content h2{
    font-size: 2.5rem;
}

.container .stats .stats-content p{
    font-family: var(--secondary-font);
    font-size: 1.3rem;
    font-weight: 400;
    margin-top: 0.6rem;
    color: var(--secondary-medium-color);
}

.image{
    grid-area: image;
    position: relative;
}

.image::before{
    content: "";
    background-color: var(--primary-soft-color);
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 0 1rem 1rem 0;
}

.image img{
    display: block;
    object-fit: cover;
    height: 100%;
    max-width: 100%;
    mix-blend-mode: multiply;
    opacity: 0.8;
}