:root{
    --main-bg-color: hsl(233, 47%, 7%);
    --card-bg-color: hsl(244, 38%, 16%);
    --primary-soft-color:hsl(277, 64%, 61%);
    --secondary-medium-color:hsla(0, 0%, 100%, 0.6);
    --secondary-soft-color:hsla(0, 0%, 100%, 0.75);
    --primary-font: 'Inter', sans-serif;
    --secondary-font:'Lexend Deca', sans-serif;
}